body {
    background-image: linear-gradient(90deg, rgba(9, 54, 121, 1) 31%, rgba(0, 255, 44, 1) 100%);
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;

    &__container {
        display: flex;
        align-items: center;
    }

    &__text {
        text-transform: uppercase;
        color: white;
    }

    &__list {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
        padding: 15px;
    }

    &__item {
        &__link {
            text-transform: uppercase;
            text-decoration: none;
            cursor: pointer;
            color: white;
            padding: 5px 10px;
            border-radius: 5px;
            background-color: white;
            color: #093679;
            font-weight: bold;
        }

        &__span {
            margin: 0 15px;
            text-transform: uppercase;
            color: white;
            ;
        }
    }
}


.form {
    width: 300px;
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.5rem 1rem 0px;

    &__text {
        font-weight: 100;
    }

    &__spinner {
        display: none;
        justify-content: center;
        align-items: center;

        &__item {
            border: 3px solid #f3f3f3;
            /* Light grey */
            border-top: 3px solid #01c34b;
            /* Blue */
            border-radius: 50%;
            width: 15px;
            height: 15px;
            animation: spin 2s linear infinite;
        }

        @keyframes spin {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    }

    &__message {
        color: red;
        display: none;
        height: 21px;
    }

    &__message__error {
        display: block;
        color: red;
    }

    &__message__success {
        display: block;
        color: #01c343;
    }

    &__items {
        border: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        width: 90%;
        justify-content: center;
        visibility: hidden;
        height: 0;
    }

    &__input,
    &__select {
        padding: 5px;
        margin: 7px 0;
        width: 100%;
        box-sizing: border-box;
        border-radius: 7px;
        border: 1px solid gray;

        &:focus {
            outline: none;
        }
    }

    &__label {
        display: flex;
        align-items: center;
        font-size: 12px;
        margin-top: 7px;

        &:nth-of-type(2) {
            margin-top: 0px;
        }
    }

    &__input[type="checkbox"] {
        width: 10px;
        margin-right: 5px;
    }

    &__button {
        width: 100px;
        margin: 20px;
        padding: 4px 30px;
        border-radius: 10px;
        outline: none;
        border: none;
        background-color: #01c343;
        color: white;

        &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
        }
    }
}

@media(max-width: 500px) {
    .nav {
        &__container {
            flex-direction: column;
        }

        &__list {
            margin: 0;
        }

        &__text {
            font-weight: bold;
        }
    }
}